<!DOCTYPE html><html><head><meta charset=utf-8><title>my-project</title><link href=/mobile/static/css/app.6646df6f9f7554bb3fcbad61bdf88038.css rel=stylesheet></head><body><script type=text/javascript>window.usr_id = {
          type: "{{type}}",
          usr_id: "{{usr_id}}"
        };</script><div id=app></div><script type=text/javascript src=/mobile/static/js/manifest.bc0bd475c069d5109b9d.js></script><script type=text/javascript src=/mobile/static/js/vendor.3e3725811c54de9e958b.js></script><script type=text/javascript src=/mobile/static/js/app.6e5601515b6fe9a74dd4.js></script></body></html>